<div class="container-fluid py-4" dir="rtl">
    <div class="row" v-if="state==0">
        <div class="col-12">
            <div class="card">
                <!-- Card header -->
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="font-weight-bolder mb-0">إدارة بيانات البلديات </h5>
                            <p class="mb-0 text-sm" style="margin-top: 7px;">قائمة بجميع  البلديات المعتمدة  داخل النظام  </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">

                                <button style="margin: 10px;" type="button" @click="Refresh()"
                                        class="btn btn-outline-warning btn-sm mb-0">
                                    تحديث
                                </button>

                                <button style="margin: 10px;" type="button" @click="OpenAddDialog()"
                                        class="btn btn-outline-primary btn-sm mb-0">
                                    إضافة
                                </button>
                                <!--<button style="margin: 10px;" type="button" @click="Print()"
                                        class="btn btn-outline-success btn-sm mb-0">
                                    طباعة البيانات
                                </button>-->


                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 px-3" v-if="loginDetails.userType == 1">
                    <div class="col-md-3">
                        <div class="form-group bmd-form-group">
                            <el-select style="width: 100%;"
                                       v-model="CityId"
                                       filterable
                                       placeholder="المدينة"
                                       @change="GetInfo()">
                                <el-option v-for="item in Cities"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 px-3">
                    <div class="col-md-11"></div>
                    <div class="col-md-1">
                        <div class="dataTable-top">
                            <el-select v-model="pageSize"
                                       @change="GetInfo()"
                                       filterable
                                       style=" width: 130%;">
                                <el-option v-for="item in [{id:5,name:'5'},
                                                           {id:10,name:'10'},
                                                           {id:20,name:'20'},
                                                           {id:40,name:'40'},
                                                           {id:80,name:'80'},
                                                           {id:100,name:'100'},
                                                           {id:200,name:'200'},
                                           ]"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>

                </div>

                <!--{{Info}}-->
                <el-alert style="margin-top:40px"
                          v-if="Info==0"
                          title="عذرا لاتــوجد بيـــانـــات لـعـرضــهــا !!!"
                          type="info"
                          center
                          :closable="false"
                          show-icon>
                </el-alert>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-container" v-if="Info!=0">
                                <table class="table table-flush dataTable-table" id="products-list">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>
                                                <a href="#">#</a>
                                            </th>
                                            <th>
                                                <a>  المدينة</a>
                                            </th>
                                            <th>
                                                <a>  البلدية</a>
                                            </th>
                            
                                            <th>
                                                <a> منفذ العملية</a>
                                            </th>
                                            <th>
                                                <a> تاريخ الادراج</a>
                                            </th>
                                            <th>
                                                <a> الإعدادات</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item,index in Info">
                                            <td class="text-sm">{{index+1}} </td>
                                            <td class="text-sm">{{item.cityName}}</td>
                                            <td class="text-sm">{{item.name}}</td>
                                        
                                            <td class="text-sm">{{item.createdBy}}</td>
                                            <td class="text-sm">{{item.createdOn | moment}}</td>
                                            <td class="text-sm">
                                                <a href="#"
                                                   class="mx-3"
                                                   @click.prevent="OpentEditDialog(item)"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-original-title="Preview product">
                                                    <i class="fa fa-pencil-square-o text-secondary" aria-hidden="true"></i>
                                                </a>
                                                <a href="#"
                                                   title="جذف "
                                                   @click.prevent="Delete(item.id)"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-original-title="Preview product">
                                                    <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <el-divider></el-divider>
                                <div style="text-align: left; margin-left: 50px;margin-top: 20px;">
                                    ....     Showing
                                    <span style="font-weight:bold;">{{Info.length}}</span>
                                    of
                                    <span style="font-weight:bold;">{{pages}}</span>
                                </div>
                                <div style="text-align: center;padding-bottom:11px">
                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="GetInfo($event)">
                                    </el-pagination>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>






                <!--New Request-->
                <el-dialog title="إضافة  "
                           :visible.sync="AddDialog"
                           width="50%"
                           center>
                    <div class="row">
                        <el-form label-position="top"
                                 :model="ruleForm"
                                 :rules="rules"
                                 ref="ruleForm"
                                 label-width="120px"
                                 class="demo-ruleForm"
                                 style="width: 100%;">
                            <br />



                            <div class="row" dir="rtl">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <el-form-item label=" المدينة " prop="CityId">
                                            <el-select style="width: 100%;"
                                                       v-model="ruleForm.CityId"
                                                       filterable
                                                       placeholder="المدينة"
                                                       @change="GetMunicipalities_Add()">
                                                <el-option v-for="item in Cities"
                                                           :key="item.id"
                                                           :label="item.name"
                                                           :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group align-right">
                                        <el-form-item label=" الاسم  " prop="Name">
                                            <el-input type="text" v-model="ruleForm.Name" placeholder=" الاسم"></el-input>
                                        </el-form-item>
                                    </div>
                                </div>
                            </div>
                            <br />


                            <div class="row" dir="rtl">

                                <div class="col-md-12" style="direction: ltr;text-align: left">
                                    <button class="btn btn-info"
                                            style="margin-top: 17px;margin-left: 21px;"
                                            @click.prevent="submitForm('ruleForm')">
                                        إضافة  
                                    </button>
                                </div>
                            </div>
                            <br />

                        </el-form>
                    </div>

                </el-dialog>


                <!--Edit Request-->
                <el-dialog title="تعديل البيانات "
                           :visible.sync="EditDialog"
                           width="50%"
                           center>
                    <div class="row">
                        <el-form label-position="top"
                                 :model="ruleForm"
                                 :rules="rules"
                                 ref="ruleForm"
                                 label-width="120px"
                                 class="demo-ruleForm"
                                 style="width: 100%;">
                            <br />



                            <div class="row" dir="rtl">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <el-form-item label=" المدينة " prop="CityId">
                                            <el-select style="width: 100%;"
                                                       v-model="ruleForm.CityId"
                                                       filterable
                                                       placeholder="المدينة"
                                                       @change="GetMunicipalities_Add()">
                                                <el-option v-for="item in Cities"
                                                           :key="item.id"
                                                           :label="item.name"
                                                           :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group align-right">
                                        <el-form-item label="  الاسم " prop="Name">
                                            <el-input type="text" v-model="ruleForm.Name" placeholder="الاسم "></el-input>
                                        </el-form-item>
                                    </div>
                                </div>
                            </div>
                            <br />


                            <div class="row" dir="rtl">

                                <div class="col-md-12" style="direction: ltr;text-align: left">
                                    <button class="btn btn-info"
                                            style="margin-top: 17px;margin-left: 21px;"
                                            @click.prevent="submitEditForm('ruleForm')">
                                        تعديل البيانات
                                    </button>
                                </div>
                            </div>
                            <br />

                        </el-form>
                    </div>

                </el-dialog>



            </div>
        </div>
    </div>
</div>