


<footer class="footer pt-3  " dir="rtl">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">



                    حقوق النشر محفوظة  ©
مصلحة الجوازات                </div>
            </div>
        </div>
    </div>
</footer>








<!--<footer class="footer">
    <div class=" container-fluid ">-->
        <!--<nav>
            <ul>
                <li>
                    <a href="/">
                        Code Experts
                    </a>
                </li>
                <li>
                    <a href="http://presentation.creative-tim.com">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>-->
        <!--<div class="credits ml-auto">
            <span class="copyright">
                ©
                <script type="application/javascript">
                                    {{Date().toLocaleString().split(" ")[3]}}
                </script>حقوق الطبع والنشر محـفوظه <i class="fa fa-heart heart" style="color:red;"></i>
                شركة الرواق للاتصالات وتقنية المعلومات
            </span>
        </div>
    </div>
</footer>-->